@import "./base";

body {
	@extend %base;

	.store-button {
		padding: 6px 32px;
		border-radius: 30px;
		border: solid 1px $purple;
		font-size: 17px;
		color: $dark-black;
		fill: $dark-black;
		margin: 0 20px;

		display: flex;
		flex-direction: row;
		align-items: center;

		.text {
			margin-left: 15px;
		}

		&.highlight {
			color: $purple;
			fill: $purple;
		}
	}
	.store-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.first-box {
		.first-bg {
			background-image: url("../img/bg/joshua-earle-233780-unsplash-1000px.jpg");
		}
	}
	section {
		&.internet {
			padding-top: 60px;
			.screens {
				display: flex;
				justify-content: center;
				align-items: flex-end;

				margin-top: 100px;
				.main {
					width: 255px;
					height: 405px;
					z-index: 10;
				}
				.left,
				.right {
					width: 238px;
					height: 285px;
					position: relative;
				}
				.left {
					left: 25.5px;
				}
				.right {
					right: 25.5px;
				}
			}
			.store-buttons {
				margin-top: 82px;
			}
			background-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0.04)
			);
			background-position: center bottom;
			background-size: 100% 250px;
			background-repeat: no-repeat;
		}
		&.partners {
			padding: 34px 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.partner {
				margin: 0 40px;
				opacity: 0.55;
			}
		}
		&.plans {
			background-image: linear-gradient(
				to top,
				rgba(0, 0, 0, 0),
				rgba(0, 0, 0, 0.04)
			);
			background-position: center top;
			background-size: 100% 250px;
			background-repeat: no-repeat;

			.screens {
				align-self: stretch;

				display: flex;
				justify-content: space-between;
				align-items: center;

				margin: 0 42px;
				margin-top: 100px;
				.side {
					width: 230px;
					height: 408px;
					opacity: 0.5;
				}
				.center {
					width: 258px;
					height: 458px;
					opacity: 0.8;
				}
				.main {
					width: 280px;
					height: 498px;
				}
			}
		}
		&.matching {
			.graph {
				width: 1032px;
				height: 468px;
				margin-top: 160px;
			}
		}
		&.privacy {
			.images {
				margin-top: 100px;
				align-self: stretch;

				display: flex;
				justify-content: space-around;
				.image {
					display: flex;
					flex-direction: column;
					align-items: center;
					img {
						margin-bottom: 40px;
					}
					.social {
						width: 350px;
						height: 350px;
					}
					.settings {
						width: 300px;
						height: 350px;
						border-radius: 4px;
					}
					.title {
						width: 392px;
						font-size: 18px;
					}
					.subtitle {
						font-size: 15px;
					}
				}
			}
		}
		&.hero {
			padding-bottom: 160px;
			.store-buttons {
				margin-top: 60px;
			}
		}
	}
}
