@import "./base";

body {
	@extend %base;

	.first-box {
		.first-bg {
			background-image: url("../img/bg/annie-spratt-608002-unsplash-1000px.jpg");
			opacity: 0.15;
		}
	}
	section {
		&.connect {
			padding-bottom: 440px;
			@media screen and (max-width: $break-phone) {
				padding-top: 45px;
				padding-bottom: 120px;
			}
		}
		&.boxes {
			padding-top: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			.row {
				flex: 0 0 500px;
				display: flex;
				align-items: stretch;
				@media screen and (max-width: $break-phone) {
					flex-direction: column;
					align-items: center;
					&:nth-child(2) {
						flex-direction: column-reverse;
					}
				}
				.img {
					flex-basis: 50%;
					background-size: cover;
					background-position-y: center;
					@media screen and (max-width: $break-phone) {
						flex-basis: 500px;
						width: 100%;
					}
					&.first {
						background-image: url("../img/bg/zoe-lin-508640-unsplash-1000px.jpg");
					}
					&.second {
						background-image: url("../img/bg/nathan-dumlao-508970-unsplash-1000px.jpg");
					}
				}
				.box {
					flex-basis: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					box-sizing: border-box;
					padding: 0 30px;
					@media screen and (max-width: $break-phone) {
						flex-basis: 500px;
					}
					.title,
					.subtitle {
						font-size: 20px;
						margin-bottom: 0;
					}
					.subtitle {
						margin-bottom: 32px;
					}
				}
			}
		}
		&.team {
			padding-bottom: 110px;
			@media screen and (max-width: $break-phone) {
				padding-top: 0;
			}
			.list {
				display: flex;
				flex-wrap: wrap;
				align-self: center;
				justify-content: center; // temporal

				box-sizing: border-box;
				margin: 30px 40px;
				max-width: 1000px;
				@media screen and (max-width: $break-tablet) {
					max-width: 500px;
				}
				@media screen and (max-width: $break-phone) {
					max-width: 250px;
				}
				.person-wrapper {
					display: flex;
					align-items: center;

					box-sizing: border-box;
					padding: 20px;
					.person {
						width: 210px;
						height: 336px;

						display: flex;
						flex-direction: column;

						border-radius: 10px;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

						color: $dark-black;
						text-align: center;
						img {
							width: 100%;
						}
						.name {
							margin: 22px 14px auto;
							font-size: 22px;
						}
						.role {
							margin: 0 14px 22px;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	.changing-word {
		display: inline-block;
		text-align: center;
		width: 6em;
	}
}
