@import "./base";

body {
	@extend %base;

	.first-box {
		.first-bg {
			background-image: url("../img/bg/bg-team-box-1000px.jpg");
			opacity: 0.15;
		}
		.hero-video {
			margin-top: 4em;
			max-width: 890px;
			width: 100%;

			.hero-video-wrap {
				padding-bottom: 9/16 * 100%;
				position: relative;
				iframe {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	section {
		&.connect {
			padding-bottom: 200px;
			@media screen and (max-width: $break-tablet) {
				padding-top: 45px;
				padding-bottom: 120px;
			}
		}
		&.boxes {
			padding-top: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			.row {
				display: flex;
				align-items: stretch;
				&:nth-child(2) {
					flex-direction: row-reverse;
				}
				@media screen and (max-width: $break-tablet) {
					display: block;
				}
				.img {
					flex-basis: 50%;
					background-size: cover;
					background-position: center;
					min-height: 500px;
					&.first {
						background-image: url("../img/bg/bg-team-first-1000px.jpg");
					}
					&.second {
						background-image: url("../img/bg/bg-team-second-1000px.jpg");
					}
				}
				.box {
					flex-basis: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					box-sizing: border-box;
					padding: 40px 30px;
					@media screen and (max-width: $break-tablet) {
						flex-basis: 500px;
					}
					.title,
					.subtitle {
						font-size: 20px;
						margin-bottom: 0;
					}
					.title {
						margin-bottom: 32px;
					}
					.subtitle {
						text-align: justify;
					}
				}
			}
		}
		&.team {
			padding-bottom: 110px;
			@media screen and (max-width: $break-phone) {
				padding-top: 0;
			}
			.list {
				display: flex;
				flex-wrap: wrap;
				align-self: center;
				justify-content: center; // temporal

				box-sizing: border-box;
				margin: 30px 40px;
				max-width: 800px;
				@media screen and (max-width: $break-tablet) {
					max-width: 500px;
				}
				@media screen and (max-width: $break-phone) {
					max-width: 250px;
				}
				.person-wrapper {
					display: flex;
					align-items: center;

					box-sizing: border-box;
					padding: 20px;
					.person {
						width: 210px;
						height: 336px;

						display: flex;
						flex-direction: column;

						$radius: 10px;
						border-radius: $radius;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

						color: $dark-black;
						text-align: center;
						img {
							width: 100%;
							border-radius: $radius $radius 0 0;
						}
						.name {
							margin: 22px 14px auto;
							font-size: 22px;
						}
						.role {
							margin: 0 14px 22px;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	.changing-word {
		display: inline-block;
		text-align: center;
		width: 6em;
	}
}
